{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}


{% block body %}

<div class="example-wrapper container">
    
    
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}


            <div class="d-flex align-items-center justify-content-between pb-5">
        <div>
            <h1 class="display-5 m-0 text">Déposez un avis</h1>
        </div>
        <a href="{{ path('app_home') }}" title="Retour à la page d'accueil" class="btn btn-outline-secondary">
            Retour à la page d'accueil
        </a>
    </div>

    <div class="w-50 mx-auto">
    
       
         {{ form_start(form) }}


        <div class="mb-3">

                {{ form_label(form.avis) }}
                {{ form_widget(form.avis) }}
                {{ form_errors(form.avis) }}

            </div>

            {# <div class="mb-3">

                {{ form_label(form.artisan) }}
                {{ form_widget(form.artisan) }}
                {{ form_errors(form.artisan) }} #}

            </div>

             <div class="mb-3">

                {{ form_label(form.score) }}
                {{ form_widget(form.score) }}
                {{ form_errors(form.score) }}

            </div>

         {{ form_end(form) }}
    </div>

        
           
    </div>


{% endblock %}