{% extends 'base.html.twig' %}

{% block title %}Artisan{% endblock %}

{% block body %}

    <!-- Contenu -->
    <main class="py-5">
        <div class="w-75 mx-auto">
            <div class="row">
                <div class="col-12 d-flex {# px-5 #}">        
                    <div class="col-6 d-flex text-start">
                        <h2 class="fs-3 text-danger">Liste des Artisans</h2>
                    </div>
                    <div class="col-6 d-flex justify-content-end gap-2">
                    
                        <a href="{{ path('app_new_artisan') }}" class="btn btn-outline-success my-auto">S'ajouter en tant qu'artisan</a>
                   
                        
                        <a href="{{ path('app_home') }}" class="btn btn-outline-danger my-auto">Retour</a>
                        <form methode="GET" class="my-auto">
                            <input type="hidden" name="page" value="{{ app.request.query.get('page', 1) }}">
                            <select class="form-select" name="numbers" id="numbers" onchange="this.form.submit();">
                                <option value="5">Nombre d'artisans par page</option>
                                <option value="5">5 par page</option>
                                <option value="10">10 par page</option>
                                <option value="15">15 par page</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="col-12 d-block border-bottom my-3"></div>
                <div class="col-12 d-flex mt-1">
                    <div class="col-1 m-auto">
                        <p class="fw-bold text-center text-secondary">#</p>
                    </div>
                    <div class="col-1 m-auto">
                        <p class="fw-bold text-center">Image</p>
                    </div>
                    <div class="col-1 m-auto">
                        <p class="fw-bold text-center">Nom</p>
                    </div>
                    <div class="col-2 m-auto">
                        <p class="fw-bold text-center">Adresse</p>
                    </div>
                    <div class="col-1 m-auto">
                        <p class="fw-bold text-center">Téléphone</p>
                    </div>
                    <div class="col-1 m-auto">
                        <p class="fw-bold text-center">Email</p>
                    </div>
                    <div class="col-2 m-auto">
                        <p class="fw-bold text-center">Déscription</p>
                    </div>
                    <div class="col-2 m-auto">
                        <p class="fw-bold text-center">Actions</p>
                    </div>
                </div>
                <div class="col-12 d-block border-bottom mb-2"></div>

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success my-2">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('suppress') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for artisan in artisans %}
                        <div class="col-12 d-flex mb-3 mt-2 border-bottom">
                            <div class="col-1 m-auto">
                                <p class="text-center text-secondary">{{artisan.id}}</p>
                            </div>
                            {% if artisan.cover is not null %}
                                <div class="col-1 d-flex justify-content-center m-auto">
                                    <img src="{ vich_uploader_asset(artisan, 'profileFile')|imagine_filter('thumbnail') }}" alt="Image du magazine {{artisan.name}}" class="img-fluid rounded mb-3">
                                </div>
                            {% else %} 
                                <div class="col-1 d-flex justify-content-center m-auto">
                                    <img src="{{ asset('images/blank.png') }}" alt="Pas d'image" class="img-fluid rounded mb-3">
                                </div>
                            {% endif %}
                            <div class="col-1 m-auto">
                                <p class="text-center">{{artisan.name}}</p>
                            </div>
                            <div class="col-2 m-auto">
                                <p class="text-center">{{artisan.address}}</p>
                            </div>
                            <div class="col-1 m-auto">
                                <p class="text-center">{{artisan.phone}}</p>
                            </div>
                            <div class="col-1 m-auto">
                                <p class="text-center">{{artisan.email}}</p>
                            </div>
                            <div class="col-2 m-auto">
                                <p class="text-center">{{artisan.description}}</p>
                            </div>
                            <div class="col-2 d-flex justify-content-center m-auto gap-2">
                            <a href="{{ path('app_details_artisans', { id:artisan.id }) }}" class="btn btn-outline-warning mb-3">Détails</a>
                            
                            {% if is_granted('ROLE_MODERATOR') %}

                             <a href="{{ path('app_edit_artisan', { id:artisan.id }) }}" class="btn btn-outline-success mb-3">Editer</a>
                                <form action="{{ path('app_delete_artisan', { id:artisan.id }) }}" method="post" class="m-0 p-0">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-artisan-'~ artisan.id) }}" class="m-0 p-0">
                                    <button class="btn btn-outline-danger mx-auto mb-3">Supprimer</button>
                                </form>
                                
                            {% endif %}
                            
                                
                               
                                {# <a href="{{ path('app_delete_artisan', { id:artisan.id }) }}" class="btn btn-outline-danger mb-3">Supprimer</a> #}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 d-flex mb-3 mt-2 border-bottom">
                            <div class="col-8 m-auto">
                                <p class="text-center">Aucuns artisans</p>
                            </div>
                            <div class="col-4 d-flex justify-content-center pb-3">
                                <a href="{{ path('app_home') }}" class="btn btn-outline-warning m-auto">Quitter la page</a>
                            </div>
                        </div>
                    {% endfor %}


                <div class="d-flex">
                    <div class="mx-auto">
                        {{ knp_pagination_render(artisans) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
         
{% endblock %}