{% extends "base.html.twig" %}

{% block title %}Types{% endblock %}

{% block body %}
 
    <div class="titre">
        <h2 class="titre-texte"><span>A</span>rtisans</h2>
    </div>


    {% for artisan in allArtisansFromType %}
            
    {% if artisan.type.id == type.id %}
  <div class="content-h-g d-flex justify-content-center">
        <div class="mb-3 d-flex justify-content-center">
            

            <section class="menu">
                <div class="contenu">
                <div class="box card-artisan-type">
                    <div class="inbox">
                        <img src="../images/structure/home/bien-etre.jpeg" alt="">
                    </div>
                    <div class="text">
                <h3>{{artisan.name}}</h3>
                <p>Adresse : {{artisan.address}}</p>
                <p>Adresse mail: {{artisan.email}}</p>
                <p>Téléphone : {{artisan.phone}}</p>
                <a href="{{ path('app_details_artisans', { id:artisan.id }) }}"><button class="btn btn-dark mb-3">Voir plus de détails</button></a>
                <a href="{{ path('app_details_artisans', { id:artisan.id }) }}"><button class="btn btn-dark">Déposez un avis</button></a>


                   
                  
            
               
        </div>
    </div>
 
    {% endif %}
            
    {% endfor %}   


{% endblock %}